## Project Proposal - Sam Sieloff

For my data 720 final project, I am choosing to work with live NASCAR data

In the future, I would love to build this repository out with related projects and use to showcase my abilities to get a job in the NASCAR or motorsports industry.

The data I am using is a collection of JSON files from the NASCAR Api.

Additional documentation about the files can be found here https://github.com/ooohfascinating/NascarApi/tree/main

Within the src folder, I will continue to build out functions to export the JSON files into clean .csv files that I can use.

Below is the first function I built to pull all pit stop data for 2025 into a .csv file

I would also like to create functions to pull in results and lap data

### Background

A quick background of NASCAR and what pit stops are

NASCAR is a professional stock car racing series where 40 drivers race weekly at a variety of different tracks.

Each driver/team has a designated pit box where they can stop during the race to make adjustments to the car.

These adjustments can range from changing tires, refueling with more gas, or changing dynamics of how the car steers/drives.

Since races can often come down to fractions of a second, efficient pit stops are extremly important.

Drivers/teams have to pit multiple times throughout the course of a race.

I will analyze pit stop data from races during the 2025 season in an attempt to answer some questions listed below

![Pit Stop Chart](Pictures/Pit Crew Example.jpg)

In [4]:
from src.fetch_pit_data import fetch_pit_data
pit_data_2025 = fetch_pit_data(2025,1)
pit_data_2025.to_csv('pit_data_2025.csv', index=False)

In [5]:
import pandas as pd

In [6]:
pit_data = pd.read_csv('pit_data_2025.csv')
pit_data.head()

,vehicle_number,driver_name,vehicle_manufacturer,leader_lap,lap_count,pit_in_flag_status,pit_out_flag_status,pit_in_race_time,pit_out_race_time,total_duration,...,left_front_tire_changed,left_rear_tire_changed,right_front_tire_changed,right_rear_tire_changed,previous_lap_time,next_lap_time,pit_in_rank,pit_out_rank,positions_gained_lost,race_id
0,24,William Byron,Chv,10,10,2,2,666.638,882.668,11614.947,...,False,False,False,False,0,0,1,1,0,5546
1,2,Austin Cindric,Frd,10,10,2,2,668.834,885.746,11615.829,...,False,False,True,True,0,0,2,2,0,5546
2,10,Ty Dillon,Chv,10,10,2,2,669.462,887.356,11616.811,...,False,False,False,False,0,0,3,3,0,5546
3,19,Chase Briscoe,Tyt,10,10,2,2,670.433,889.714,11618.198,...,False,False,False,False,0,0,4,4,0,5546
4,22,Joey Logano,Frd,10,10,2,2,672.424,903.406,11629.899,...,True,True,True,True,0,0,6,5,1,5546

Looking at the file, there are 26 columns of data. Included in the data is information about what happened during the stop (which tires were changed, how long the stop took, and how many positions were lost/gained)

The data shown is each pit stop for each driver for each race.

Throughout a race there will be multiple pit stops and a row will be shown for each.

I will need to combine this file with race information on the race_id to get full race information.

### Questions to be answered

1. Which pit crews were the most efficient over the course of the year? Looking at information like most spots gained/lost, least amount of time spent per pit spot, quickest time for a 4 tire stop
2. How much of an impact does the pit crew have on the result of the race? When combining with race information, is there a trend between pit stop time and finishing position?
3. Can pit stop data be a predictor of finishing position?
4. For pit crews that changed throughout the year, what is the overall impact?

In [2]:
from src.race_results_data import fetch_result_data
result_data_2025 = fetch_result_data(2025,1)

In [3]:
result_data_2025

,race_id,race_name,series_id,sch_laps,act_laps,drivers
0,5546,DAYTONA 500,1,200,201,"[{'driver_id': 4184, 'start_ps': 5, 'mid_ps': ..."
1,5547,Ambetter Health 400,1,260,266,"[{'driver_id': 4153, 'start_ps': 32, 'mid_ps':..."
2,5551,EchoPark Automotive Grand Prix,1,95,95,"[{'driver_id': 4153, 'start_ps': 19, 'mid_ps':..."
3,5549,Shriners Children's 500,1,312,312,"[{'driver_id': 4153, 'start_ps': 11, 'mid_ps':..."
4,5548,Pennzoil 400 presented by Jiffy Lube,1,267,267,"[{'driver_id': 4123, 'start_ps': 7, 'mid_ps': ..."
5,5583,Straight Talk Wireless 400,1,267,267,"[{'driver_id': 4030, 'start_ps': 14, 'mid_ps':..."
6,5553,Cook Out 400,1,400,400,"[{'driver_id': 1361, 'start_ps': 5, 'mid_ps': ..."
7,5558,Goodyear 400,1,293,297,"[{'driver_id': 1361, 'start_ps': 3, 'mid_ps': ..."
8,5550,Food City 500,1,500,500,"[{'driver_id': 4030, 'start_ps': 3, 'mid_ps': ..."
9,5555,Jack Link's 500,1,188,188,"[{'driver_id': 4180, 'start_ps': 7, 'mid_ps': ..."
10,5554,W?rth 400 presented by LIQUI MOLY,1,267,271,"[{'driver_id': 3859, 'start_ps': 27, 'mid_ps':..."
11,5557,AdventHealth 400,1,267,267,"[{'driver_id': 4030, 'start_ps': 1, 'mid_ps': ..."
12,5563,Coca-Cola 600,1,400,400,"[{'driver_id': 4001, 'start_ps': 40, 'mid_ps':..."
13,5568,Cracker Barrel 400,1,300,300,"[{'driver_id': 4023, 'start_ps': 15, 'mid_ps':..."
14,5573,FireKeepers Casino 400,1,200,200,"[{'driver_id': 1361, 'start_ps': 3, 'mid_ps': ..."
15,5552,Viva Mexico 250,1,100,100,"[{'driver_id': 4469, 'start_ps': 1, 'mid_ps': ..."
16,5570,The Great American Getaway 400 Presented by VI...,1,160,160,"[{'driver_id': 4228, 'start_ps': 6, 'mid_ps': ..."
17,5576,Quaker State 400 Available at Walmart,1,260,260,"[{'driver_id': 4062, 'start_ps': 15, 'mid_ps':..."
18,5569,Grant Park 165,1,75,75,"[{'driver_id': 4469, 'start_ps': 1, 'mid_ps': ..."
19,5565,Toyota / Save Mart 350,1,110,110,"[{'driver_id': 4469, 'start_ps': 1, 'mid_ps': ..."
20,5556,Autotrader EchoPark Automotive 400,1,400,407,"[{'driver_id': 1361, 'start_ps': 13, 'mid_ps':..."
21,5571,Brickyard 400,1,160,168,"[{'driver_id': 4025, 'start_ps': 2, 'mid_ps': ..."
22,5566,Iowa Corn 350 Powered by Ethanol,1,350,350,"[{'driver_id': 4184, 'start_ps': 2, 'mid_ps': ..."
23,5577,Go Bowling at The Glen,1,90,90,"[{'driver_id': 4469, 'start_ps': 2, 'mid_ps': ..."
24,5572,Cook Out 400,1,400,400,"[{'driver_id': 3873, 'start_ps': 11, 'mid_ps':..."
25,5574,Coke Zero Sugar 400,1,160,160,"[{'driver_id': 4023, 'start_ps': 1, 'mid_ps': ..."
26,5575,Cook Out Southern 500,1,367,367,"[{'driver_id': 4228, 'start_ps': 2, 'mid_ps': ..."
27,5564,Enjoy Illinois 300,1,240,240,"[{'driver_id': 1361, 'start_ps': 1, 'mid_ps': ..."
28,5578,Bass Pro Shops Night Race,1,500,500,"[{'driver_id': 4153, 'start_ps': 9, 'mid_ps': ..."
29,5567,Mobil 1 301,1,301,301,"[{'driver_id': 4023, 'start_ps': 2, 'mid_ps': ..."
30,5579,Hollywood Casino 400 Presented by ESPN BET,1,267,273,"[{'driver_id': 4062, 'start_ps': 4, 'mid_ps': ..."
31,5581,Bank of America ROVAL 400,1,109,109,"[{'driver_id': 4469, 'start_ps': 2, 'mid_ps': ..."
32,5582,South Point 400,1,267,267,"[{'driver_id': 1361, 'start_ps': 1, 'mid_ps': ..."
33,5580,YellaWood 500,1,188,193,"[{'driver_id': 4228, 'start_ps': 2, 'mid_ps': ..."